@define-color bg #191724;
@define-color bg-hover #1f1d2e;

@define-color fg #c0caf4;
@define-color muted #6e6a86;
@define-color separator #403d52;

@define-color accent #286983;
@define-color warning #b4637a;

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "Iosevka Nerd Font";
  font-weight: bold;
  font-size: 14px;
}

window#waybar {
  background-color: @bg;
  color: @fg;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

button {
  border: none;
  background: none;
  box-shadow: none;
  border-radius: 0;
}

button:hover {
  background-color: @bg-hover;
  color: @fg;
}

#workspaces {
  margin: 0 2px;
}

#workspaces button {
  padding: 0 4px;
  background: none;
  color: @fg;
}

#workspaces button.active,
#workspaces button.focused {
  border-bottom: 2px solid @fg;
}

#workspaces button.urgent {
  border-bottom: 2px solid @warning;
}

#window {
  padding: 0 6px;
  color: @fg;
}

#custom-separator {
  color: @muted;
  padding: 0;
}

#clock,
#battery,
#cpu,
#memory,
#custom-igpu,
#temperature,
#network,
#bluetooth,
#disk,
#load,
#backlight,
#pulseaudio {
  color: @fg;
}

#battery.charging,
#battery.plugged {
  color: @accent;
}

#battery.critical:not(.charging),
#battery.warning:not(.charging) {
  color: @warning;
}

#temperature.critical {
  color: @warning;
}

#network.disconnected {
  color: @warning;
}

#network.disabled {
  background-color: @warning;
}

#tray {
  background-color: transparent;
  padding: 0 10px;
  margin: 0 2px;
}

#tray > .needs-attention {
  border-bottom-color: @warning;
}

#waybar > box:nth-child(2) > box:nth-child(3) > * > label {
  padding: 0 6px;
}

/* Solid separator between modules */
/* #waybar > box:nth-child(2) > box:nth-child(3) > *:not(:first-child) > label { */
/*   background-image: linear-gradient(@separator, @separator); */
/*   background-size: 2px 1em; */
/*   background-position: left center; */
/*   background-repeat: no-repeat; */
/* } */

