/* Moonfly Palette */
@define-color base rgba(0, 0, 0, 0.6);
@define-color surface #1b1b1b;
@define-color overlay #303030;
@define-color muted #7c8f8f;

@define-color text rgba(198, 198, 198, 0.7);
@define-color subtle #949494;

@define-color love #ff5d5d;
@define-color gold #e3c78a;
@define-color rose #ff966c;
@define-color pine #8cc85f;
@define-color foam #79dac8;
@define-color iris #80a0ff;
@define-color highlight #323437;

/* Theme aliases */
@define-color bg @base;
@define-color bg-hover @highlight;
@define-color fg @text;
@define-color separator @overlay;
@define-color accent @iris;
@define-color warning @love;

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "Iosevka Nerd Font";
  font-weight: 700;
  font-size: 14px;
}

window#waybar {
  background-color: @bg;
  color: @fg;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

button {
  border: none;
  background: none;
  box-shadow: none;
  border-radius: 0;
}

button:hover {
  background-color: @bg-hover;
  color: @fg;
}

#workspaces {
  margin: 0 2px;
}

#workspaces button {
  padding: 0 4px;
  background: none;
  color: @subtle;
}

#workspaces button:hover {
  color: @fg;
}

#workspaces button.active,
#workspaces button.focused {
  color: @fg;
  box-shadow: inset 0 -3px @fg;
}

#workspaces button.urgent {
  color: @warning;
  box-shadow: inset 0 -3px @warning;
}

#window {
  padding: 0 8px;
  color: @fg;
}

#mode,
#submap {
  padding: 0 8px;
  background: @overlay;
  color: @iris;
  /* box-shadow: inset 0 -3px @iris; */
}

#mpris,
#clock,
#battery,
#cpu,
#memory,
#custom-igpu,
#temperature,
#network,
#bluetooth,
#disk,
#mode,
#load,
#backlight,
#submap,
#pulseaudio {
  color: @fg;
  padding: 0 8px;
}


#network.disconnected {
  color: @warning;
}

#network.disabled {
  background: @warning;
  color: @base;
}

#battery.charging,
#battery.plugged {
  color: @pine;
}

#battery.warning:not(.charging),
#battery.critical:not(.charging) {
  color: @warning;
}

#temperature.critical {
  color: @warning;
}

#tray {
  background: transparent;
  padding: 0 10px;
  margin: 0 2px;
}

#tray > .needs-attention {
  border-bottom: 2px solid @warning;
}

#submap,
#waybar > box:nth-child(2) > box:nth-child(3) > * > label {
  padding: 0 8px;
}

