animations {
  slowdown 0.9

  workspace-switch {
    spring damping-ratio=0.9 stiffness=520 epsilon=0.0001
  }

  window-open {
    duration-ms 260
    curve "ease-out-expo"
  }

  window-close {
    duration-ms 240
    curve "ease-out-expo"
  }

  horizontal-view-movement {
    spring damping-ratio=0.9 stiffness=480 epsilon=0.0001
  }

  window-movement {
    spring damping-ratio=0.9 stiffness=520 epsilon=0.0001
  }

  window-resize {
    spring damping-ratio=0.9 stiffness=500 epsilon=0.0001
  }

  config-notification-open-close {
    spring damping-ratio=0.9 stiffness=650 epsilon=0.001
  }

  exit-confirmation-open-close {
    spring damping-ratio=0.9 stiffness=500 epsilon=0.01
  }

  screenshot-ui-open {
    duration-ms 260
    curve "ease-out-quad"
  }

  overview-open-close {
    spring damping-ratio=0.9 stiffness=500 epsilon=0.0001
  }

  recent-windows-close {
    spring damping-ratio=0.9 stiffness=520 epsilon=0.001
  }
}
