binds {
  Mod+Shift+Slash { show-hotkey-overlay; }
  Mod+Return hotkey-overlay-title="Open a Terminal" { spawn "alacritty"; }
  Mod+Space hotkey-overlay-title="Run an Application" { spawn-sh "uwsm-app app-menu"; } 
  Mod+Backspace hotkey-overlay-title="Show menu menu" { spawn-sh "uwsm-app power-menu"; }
  Mod+Backslash hotkey-overlay-title="Show menu menu" { spawn-sh "uwsm-app system-menu"; }
  Mod+Alt+L hotkey-overlay-title="Lock the Screen" { spawn-sh "pkill hyprlock || hyprlock"; }

  // Mod+O repeat=false { toggle-overview; }
  Mod+X repeat=true { close-window; }
  Mod+B hotkey-overlay-title="Open Browser" { spawn "firefox"; }
  Mod+E hotkey-overlay-title="Open file manager" { spawn-sh "kitty yazi"; }

  XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+"; }
  XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
  XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
  XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

  XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
  XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

  Mod+Left  { focus-column-left; }
  Mod+Down  { focus-window-down; }
  Mod+Up    { focus-window-up; }
  Mod+Right { focus-column-right; }
  Mod+H     { focus-column-left; }
  Mod+J     { focus-window-down; }
  Mod+K     { focus-window-up; }
  Mod+L     { focus-column-right; }

  Mod+Ctrl+Left  { move-column-left; }
  Mod+Ctrl+Down  { move-window-down; }
  Mod+Ctrl+Up    { move-window-up; }
  Mod+Ctrl+Right { move-column-right; }
  Mod+Ctrl+H     { move-column-left; }
  Mod+Ctrl+J     { move-window-down; }
  Mod+Ctrl+K     { move-window-up; }
  Mod+Ctrl+L     { move-column-right; }

  Mod+Shift+H { focus-column-first; }
  Mod+Shift+L  { focus-column-last; }

  Mod+Page_Down      { focus-workspace-down; }
  Mod+Page_Up        { focus-workspace-up; }
  // Mod+Shift+J        { focus-workspace-down; }
  // Mod+Shift+K        { focus-workspace-up; }

  Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
  Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }
  Mod+Ctrl+Shift+J   { move-column-to-workspace-down; }
  Mod+Ctrl+Shift+K   { move-column-to-workspace-up; }

  Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
  Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
  Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
  Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

  Mod+WheelScrollRight      { focus-column-right; }
  Mod+WheelScrollLeft       { focus-column-left; }
  Mod+Ctrl+WheelScrollRight { move-column-right; }
  Mod+Ctrl+WheelScrollLeft  { move-column-left; }

  // Usually scrolling up and down with Shift in applications results in
  // horizontal scrolling; these binds replicate that.
  Mod+Shift+WheelScrollDown      { focus-column-right; }
  Mod+Shift+WheelScrollUp        { focus-column-left; }
  Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
  Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

  Mod+U { focus-workspace 1; }
  Mod+I { focus-workspace 2; }
  Mod+O { focus-workspace 3; }
  Mod+P { focus-workspace 4; }
  Mod+7 { focus-workspace 5; }
  Mod+8 { focus-workspace 6; }
  Mod+9 { focus-workspace 7; }

  Mod+Ctrl+U { move-column-to-workspace 1; }
  Mod+Ctrl+I { move-column-to-workspace 2; }
  Mod+Ctrl+O { move-column-to-workspace 3; }
  Mod+Ctrl+P { move-column-to-workspace 4; }
  Mod+Ctrl+7 { move-column-to-workspace 5; }
  Mod+Ctrl+8 { move-column-to-workspace 6; }
  Mod+Ctrl+9 { move-column-to-workspace 7; }

  Mod+BracketLeft  { consume-or-expel-window-left; }
  Mod+BracketRight { consume-or-expel-window-right; }

  // Consume one window from the right to the bottom of the focused column.
  Mod+Comma  { consume-window-into-column; }
  // Expel the bottom window from the focused column to the right.
  Mod+Period { expel-window-from-column; }

  Mod+R { switch-preset-column-width; }
  // Cycling through the presets in reverse order is also possible.
  // Mod+R { switch-preset-column-width-back; }
  Mod+Shift+R { switch-preset-window-height; }
  Mod+Ctrl+R { reset-window-height; }
  Mod+F { maximize-column; }
  Mod+Shift+F { fullscreen-window; }

  Mod+C { center-column; }

  Mod+Minus { set-column-width "-10%"; }
  Mod+Equal { set-column-width "+10%"; }

  // Finer height adjustments when in column with other windows.
  Mod+Shift+Minus { set-window-height "-10%"; }
  Mod+Shift+Equal { set-window-height "+10%"; }

  // Move the focused window between the floating and the tiling layout.
  Mod+V       { toggle-window-floating; }
  Mod+Shift+V { switch-focus-between-floating-and-tiling; }

  // Toggle tabbed column display mode.
  // Windows in this column will appear as vertical tabs,
  // rather than stacked on top of each other.
  Mod+W { toggle-column-tabbed-display; }

  Print { screenshot; }
  Ctrl+Print { screenshot-screen; }
  Alt+Print { screenshot-window; }

  Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

  // The quit action will show a confirmation dialog to avoid accidental exits.
  Mod+Shift+E { quit; }
  Ctrl+Alt+Delete { quit; }
}
