include "./monitors.kdl"
include "./environment.kdl"
include "./input.kdl"
include "./autostart.kdl"
include "./layer-rules.kdl"
include "./window-rules.kdl"
include "./bindings.kdl"
include "./animation.kdl"
include "./misc.kdl"

overview {
  zoom 0.6

  workspace-shadow {
    off
    softness 300
    spread 20
    offset x=0 y=0
    color "#000000"
  }
}

layout {
  gaps 6
  always-center-single-column
  center-focused-column "never"
  background-color "transparent"

  preset-column-widths {
    proportion 0.33333
    proportion 0.5
    proportion 0.66667
  }

  default-column-width { proportion 0.5; }

  focus-ring {
    off
    width 3
    active-color "#4c566a"
  }

  border {
    on
    width 2
    // active-color "#524f67"
    // inactive-color "#191724"
    active-color "#7B8394"
    inactive-color "#524f67"
    urgent-color "#653636"
  }

  struts {
    left 0
    right 0
    top 0
    bottom 0
  }
}

blur {
  on
  passes 1
  offset 2
  noise 0.02
  saturation 1
}
