include "./monitors.kdl"
include "./environment.kdl"
include "./input.kdl"
include "./autostart.kdl"
include "./layer-rules.kdl"
include "./window-rules.kdl"
include "./bindings.kdl"
include "./animation.kdl"
include "./misc.kdl"

overview {
   zoom 0.6
   workspace-shadow {
	   off
   }
}

layout {
    gaps 0
    always-center-single-column
    center-focused-column "never"
    background-color "transparent"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }
    focus-ring { off; }

    border {
      width 2
      active-color "#74738C"
      inactive-color "#34333f"
    }

    struts {
        left 0
        right 0
        top 0
        bottom 0
    }
}
