input {
  keyboard {
    xkb {
      // layout "us"
      // variant ""
      // options "caps:escape"
    }

    repeat-delay 180
    repeat-rate 35
    // numlock
  }

  touchpad {
    tap
    dwt
    natural-scroll
    tap-button-map "left-right-middle"
    accel-profile "adaptive"
    accel-speed 0.35
    disabled-on-external-mouse
  }

  mouse {
    accel-profile "flat"
    accel-speed 0.1
    scroll-factor 1.4
  }

  focus-follows-mouse max-scroll-amount="15%"
  warp-mouse-to-focus
}

cursor {
  xcursor-theme "Qogir-cursors"
  xcursor-size 28
  hide-when-typing
  hide-after-inactive-ms 2500
}
