window-rule {
  draw-border-with-background false
}

window-rule {
  match app-id="^kitty$"
  match app-id="^Alacritty$"

  // opacity 0.8
  background-effect {
    blur true
  }
}

window-rule {
  match title="^sysmenu-*"
  open-floating true
  open-focused true
  opacity 1.0
  default-column-width { fixed 1080; }
  default-window-height { fixed 720; }
  background-effect {
    blur false
    xray false
  }
}

window-rule {
  match title="^Picture-in-Picture$"
  match title=r#"^Picture in picture$"#
  match app-id="org.kde.kdeconnect.daemon"
  open-floating true
  open-focused false
  default-floating-position x=20 y=20 relative-to="bottom-right"
  default-column-width { proportion 0.22; }
  default-window-height { proportion 0.22; }
  shadow {
    on
    softness 60
    spread 10
    offset x=0 y=10
    draw-behind-window true
    color "#000000"
  }
}


window-rule {
  match title="^save to$"
  match title="^Library$"
  match title="^File Upload$"
  open-floating true
  default-column-width { fixed 1000; }
  default-window-height { fixed 600; }
  shadow {
    on
    softness 60
    spread 10
    offset x=0 y=10
    draw-behind-window true
    color "#000000"
  }
}

window-rule {
  match app-id=r#"^Pinentry-gtk$"#
  match app-id=r#"^Tk$"#
  match app-id=r#"^gimp$"# title=r#"Preferences"#
  match app-id=r#"^mpv$"#
  match app-id=r#"^soffice$"# title=r#"^Text Import"#
  match app-id=r#"^thunar$"# title=r#"^Rename"#
  match app-id=r#"^wev$"#
  match app-id=r#"^xarchiver$"#
  match app-id=r#"^firefox$"# title=r#"^(Picture-in-Picture|Library|About Mozilla Firefox)$"#

  open-floating true
}

window-rule {
  match app-id="yazi"
  open-maximized true
}

window-rule {
  match app-id="bluetui"
  match app-id="pulsemixer"
  match app-id="nmtui"
  match app-id="dashboard"
  match app-id="ncdu"
  match app-id="battery"
  match app-id="sensors"
  match app-id="wlctl"
  open-floating true
  open-focused true
  default-floating-position x=20 y=20 relative-to="bottom-right"
  default-column-width { proportion 0.50; }
  default-window-height { proportion 0.55; }
  shadow {
    on
    softness 60
    spread 10
    offset x=0 y=10
    draw-behind-window true
    color "#000000"
  }
}

window-rule {
  match app-id=r#"^com\.gabm\.satty$"#

  open-floating true
  min-width 730
  min-height 300
}

window-rule {
  match app-id=r#"^firefox$"#

  opacity 1.0
  default-column-width { proportion 0.75; }
}

window-rule {
  match app-id=r#"^org\.keepassxc\.KeePassXC$"#
  match app-id=r#"^org\.gnome\.World\.Secrets$"#

  block-out-from "screen-capture"
}
